body {
  background-color: rgb(126, 183, 183);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; 
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 16px; 
}

.image-grid img {
  width: 220px; 
  height: 220px; 
  object-fit: cover; 
  transition: transform 0.2s; 

}

.image-grid img:hover {
  transform: scale(1.1); 
}



.dog-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dog-image-container {
  flex: 0 0 300px; 
  margin-right: 20px;
}

.dog-image {
  max-width: 100%;
  height: auto;
}

.dog-info-container {
  flex: 1;
}

.details-section {
  margin-bottom: 20px;
}

.details-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.details-section p {
  margin: 0;
  padding-left: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  #root {
    padding: 1rem; 
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .image-grid img {
    width: 100%; 
    height: auto;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 1025px) {
}

@media (max-width: 600px) {
  .dog-image-container {
    display: none;
  }
}


